setuptools
Flask==3.0.3
gunicorn==22.0.0
pandas==2.2.2
scikit-learn==1.5.0
joblib==1.4.2
numpy==1.26.4
scipy==1.13.1
requests==2.32.3
beautifulsoup4==4.12.3
lxml==5.2.2
python-whois==1.0.1
dnspython==2.6.1
certifi
dill